.DS_Store
logs
*.log
pids
*.pid
*.seed
node_modules
npm-debug.log
.remote-sync.json
.envrc
public/bundle.js
public/bundle.js.map
data/images/*
data/0/*
data/1/*
data/csv/*
data/model.json
data/weight.hdfs
